@charset "UTF-8"

@import compass
@import "./function/extend"
@import "./function/mixin"
@import "./function/variable"
@import "./function/retina-background-image"

body 
	font: 100% "蘋果儷中黑", "微軟正黑體", Verdana, Arial, sans-serif, "新細明體"
	color: #000
	background: url("../img/mainbg.jpg") center center repeat-y
	background-size: 100% auto
	background-color: #efdfc8

